.header {
    width: 335px;
    margin: 30px auto 0;
    color: #776e65;
}
.header > h1 {
    margin: 0;
    font-size: 3.5em;
}
.header > span {
    font-size: 1.1em;
}
.playground {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    text-align: center;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
}
.playground > span {
    background-color: rgb(205, 193, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.1s;
}
.footer {
    width: 335px;
    margin: auto;
    color: #776e65;
    text-align: center;
}
.footer > span {
    padding: 10px;
    border: 3px solid #776e65;
    display: inline-block;
    margin: 5px;
    font-size: 3em;
}
.footer > button {
    color: #776e65;
    font-size: 1.4em;
    padding: 10px;
    border: 3px solid #776e65;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.footer > button:hover {
    color: white;
    background-color: #776e65;
}
.footer > p {
    text-align: justify;
    border-top: 1px solid rgb(205, 193, 181);
    border-bottom: 1px solid rgb(205, 193, 181);
    padding: 10px 0;
}