.header {
    text-align: center;
    padding: 10px;
    background-color: #818181;
    color: #ffffff;
}
.playground {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    text-align: center;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
}
.playground > span {
    background-color: rgb(205, 193, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
}
.footer {
    text-align: center;
}
.footer > span {
    padding: 10px;
    border: 3px solid #818181;
    display: inline-block;
    margin: 5px;
}
.footer > button {
    padding: 10px;
    border: 3px solid #818181;
    background-color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.4s ease-in;
}
.footer > button:hover {
    color: white;
    background-color: #818181;
}